/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

[data-theme="light"] .hljs {
  color: #383a42;
  background: #fafafa;
}

[data-theme="light"] .hljs-comment,
[data-theme="light"] .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

[data-theme="light"] .hljs-doctag,
[data-theme="light"] .hljs-keyword,
[data-theme="light"] .hljs-formula {
  color: #a626a4;
}

[data-theme="light"] .hljs-section,
[data-theme="light"] .hljs-name,
[data-theme="light"] .hljs-selector-tag,
[data-theme="light"] .hljs-deletion,
[data-theme="light"] .hljs-subst {
  color: #e45649;
}

[data-theme="light"] .hljs-literal {
  color: #0184bb;
}

[data-theme="light"] .hljs-string,
[data-theme="light"] .hljs-regexp,
[data-theme="light"] .hljs-addition,
[data-theme="light"] .hljs-attribute,
[data-theme="light"] .hljs-meta [data-theme="light"] .hljs-string {
  color: #50a14f;
}

[data-theme="light"] .hljs-attr,
[data-theme="light"] .hljs-variable,
[data-theme="light"] .hljs-template-variable,
[data-theme="light"] .hljs-type,
[data-theme="light"] .hljs-selector-class,
[data-theme="light"] .hljs-selector-attr,
[data-theme="light"] .hljs-selector-pseudo,
[data-theme="light"] .hljs-number {
  color: #986801;
}

[data-theme="light"] .hljs-symbol,
[data-theme="light"] .hljs-bullet,
[data-theme="light"] .hljs-link,
[data-theme="light"] .hljs-meta,
[data-theme="light"] .hljs-selector-id,
[data-theme="light"] .hljs-title {
  color: #4078f2;
}

[data-theme="light"] .hljs-built_in,
[data-theme="light"] .hljs-title.class_,
[data-theme="light"] .hljs-class [data-theme="light"] .hljs-title {
  color: #c18401;
}

[data-theme="light"] .hljs-emphasis {
  font-style: italic;
}

[data-theme="light"] .hljs-strong {
  font-weight: bold;
}

[data-theme="light"] .hljs-link {
  text-decoration: underline;
}
