/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

[data-theme="dark"] .hljs {
  color: #abb2bf;
  background: #282c34;
}

[data-theme="dark"] .hljs-comment,
[data-theme="dark"] .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

[data-theme="dark"] .hljs-doctag,
[data-theme="dark"] .hljs-keyword,
[data-theme="dark"] .hljs-formula {
  color: #c678dd;
}

[data-theme="dark"] .hljs-section,
[data-theme="dark"] .hljs-name,
[data-theme="dark"] .hljs-selector-tag,
[data-theme="dark"] .hljs-deletion,
[data-theme="dark"] .hljs-subst {
  color: #e06c75;
}

[data-theme="dark"] .hljs-literal {
  color: #56b6c2;
}

[data-theme="dark"] .hljs-string,
[data-theme="dark"] .hljs-regexp,
[data-theme="dark"] .hljs-addition,
[data-theme="dark"] .hljs-attribute,
[data-theme="dark"] .hljs-meta [data-theme="dark"] .hljs-string {
  color: #98c379;
}

[data-theme="dark"] .hljs-attr,
[data-theme="dark"] .hljs-variable,
[data-theme="dark"] .hljs-template-variable,
[data-theme="dark"] .hljs-type,
[data-theme="dark"] .hljs-selector-class,
[data-theme="dark"] .hljs-selector-attr,
[data-theme="dark"] .hljs-selector-pseudo,
[data-theme="dark"] .hljs-number {
  color: #d19a66;
}

[data-theme="dark"] .hljs-symbol,
[data-theme="dark"] .hljs-bullet,
[data-theme="dark"] .hljs-link,
[data-theme="dark"] .hljs-meta,
[data-theme="dark"] .hljs-selector-id,
[data-theme="dark"] .hljs-title {
  color: #61aeee;
}

[data-theme="dark"] .hljs-built_in,
[data-theme="dark"] .hljs-title.class_,
[data-theme="dark"] .hljs-class [data-theme="dark"] .hljs-title {
  color: #e6c07b;
}

[data-theme="dark"] .hljs-emphasis {
  font-style: italic;
}

[data-theme="dark"] .hljs-strong {
  font-weight: bold;
}

[data-theme="dark"] .hljs-link {
  text-decoration: underline;
}
